<!DOCTYPE html>
<html lang="en">
<!--
    Copyright (c) 2018 Ed Pantzar
    1620 E Riverside Drive APT 4061
    Austin, TX 78741
    email: edpantzar@gmail.com
    All rights reserved.
    This code is the property of Ed Pantzar and may not be
    copied, modified, or disclosed without any prior and written
    permission.
-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="../../stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../stylesheets/events.css" />
  <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Rubik|Lato" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="/images/map-marker.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <span class="nav-bar-brand-title">NEW HERE</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/events">Events<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item border-left border-danger ml-2 pl-2">
          <a class="nav-link" href="/signin">Sign Out<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <main id="main-content" class="container-fluid fill-screen">
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-8 mrl-auto">
        <h4>Edit Event</h4>
        <form method="POST" action="/events/<%= event.id %>?_method=PUT">
          <div class="form-control">

            <label for="title" class="mt-3">Event Title</label>
            <input type="text" class="form-control mb-3" name="title" value="<%= event.title %>">

            <label for="description">Description</label>
            <textarea type="text" class="form-control mb-3" name="description"><%= event.description %></textarea>

            <label for="date">Date, Time</label>
            <input type="datetime-local" class="form-control mb-3" name="date" value="<%= event.date %>">

            <label for="location">Location</label>
            <input type="text" class="form-control mb-3" name="location" value="<%= event.location %>">

            <label for="admin">Administrator</label>
            <input type="text" class="form-control mb-3" name="admin" value="<%= event.admin %>">

            <label for="photo">Photo</label>
            <input type="text" class="form-control mb-3" name="photo" value="<%= event.photo %>">

            <button type="submit" class="btn btn-warning mb-3">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <form method="POST" action="events/<%= event.id %>?_method=DELETE">
          <div class="row align-items-center mt-4 p-4 border border-danger rounded">
            <div class="col-auto">
              <button type="submit" class="btn btn-danger">Delete Event</button>
            </div>
            <div class="col-auto pt-2">
              <h6>Caution, this will permanently delete this event!</h6>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

<%- include _footer.ejs %>

<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
  crossorigin="anonymous">
</script>
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
  crossorigin="anonymous">
</script>
<script 
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
  crossorigin="anonymous">
</script>  
</body>
</html>
