<!DOCTYPE html>
<html lang="en">
<!--
    Copyright (c) 2018 Ed Pantzar
    1620 E Riverside Drive APT 4061
    Austin, TX 78741
    email: edpantzar@gmail.com
    All rights reserved.
    This code is the property of Ed Pantzar and may not be
    copied, modified, or disclosed without any prior and written
    permission.
-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/events.css" />
  <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Rubik|Lato" rel="stylesheet">
</head>
<body>

  <%- include _nav.ejs %>

  <main id="main-content" class="container-fluid fill-screen">
    <div class="row mt-5 mr-3 ml-3">
      <div class="col-12">
        <h2><%= event.title %></h2>
        <div class="row mt-5 mb-5">
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <img src="<%= event.photo %>"
                class="img img-fluid img-shadow" />
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">
                <h4>Attending (<%= attendees.length %>)</h4>
                <% if (attendees.length === 0) { %>
                  <h6><%= noAttendees %></h6>
                  <% } %>
                <div class="card">
                  <ul class="list-group list-group-flush">
                    <% attendees.forEach((person) => { %>
                    <li class="list-group-item">
                      <img src="<%= person.photo %>"
                           class="img img-fluid round-img"></span>
                      <%= person.first_name %> <%= person.last_name %>
                    </li>
                    <% }) %>
                  </ul>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <h4><%= event.location %></h4>
                <h6><%= event.date %></h6>
                <p><%= event.description %></p>
                <form method="POST" action="/join/<%= event.id %>">
                  <input type="hidden" name="userId" value="<%= user.id %>">
                  <button id="join-event-btn" type="submit" class="btn btn-primary" event-id="<%= event.id %>">Join Event</button>
                </form>
                <!-- Edit button if administrator -->
                <a href="/events/<%= event.id %>/edit"><button type="button" class="btn btn-warning">Edit</button></a>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">
                <h4>Connect with Attendees!</h4>
                <div id="message-box" class="message-area">
                  Exists<!--Messages-->
                </div>
                <form method="" class="form-inline">
                  <div class="form-group mt-1 full-width-form">
                    <textarea name="message" rows="1" autocomplete="off" wrap="hard" class="message-field form-control"></textarea>
                    <label for="message"><button type="submit" class="btn btn-success ml-2">Send</button></label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<%- include _footer.ejs %>

<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
  crossorigin="anonymous">
</script>
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
  crossorigin="anonymous">
</script>
<script 
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
  crossorigin="anonymous">
</script>  
<script src="../javascripts/profile_map.js"></script>
</body>
</html>
